ul {
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  background-color: #757474;
}

li {
  display: flex;
  justify-content: center;
  float: left;
  width: 10%;
}

li img {
  justify-content: center;
  width: 30%;
}

