<ul>
  <li><a href="#1">Menüpont 1</a></li>
  <li><a href="#2">Menüpont 2</a></li>
  <li><a href="#3">Menüpont 3</a></li>
  <li><a href="#4">Menüpont 4</a></li>
  <li><a href="#5">Menüpont 5</a></li>
  <li><a href="#6">Menüpont 6</a></li>
  <li><a href="#7">Menüpont 7</a></li>
  <li><a href="#8">Menüpont 8</a></li>
  <li><a href="#9">Menüpont 9</a></li>
  <li><a href="#10">Menüpont 10</a></li>
  <li><a href="#11">Menüpont 11</a></li>
  <li><a href="#12">Menüpont 12</a></li>
  <li><a href="#13">Menüpont 13</a></li>
  <li><a href="#14">Menüpont 14</a></li>
  <li><a href="#15">Menüpont 15</a></li>
  <li><a href="#16">Menüpont 16</a></li>
  <li><a href="#17">Menüpont 17</a></li>
  <li><a href="#18">Menüpont 18</a></li>
  <li><a href="#19">Menüpont 19</a></li>
  <li><a href="#20">Menüpont 20</a></li>
</ul>
