ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #757474;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  box-sizing: border-box;
  max-width: 5%;
}

li img {
  justify-content: center;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
