<ul>
  <li><a (click)="verstappen()">1</a></li>
  <li><a (click)="sargeant()">2</a></li>
  <li><a (click)="ricciardo()">3</a></li>
  <li><a (click)="norris()">4</a></li>
  <li><a (click)="gasly()">10</a></li>
  <li><a (click)="perez()">11</a></li>
  <li><a (click)="alonso()">14</a></li>
  <li><a (click)="leclerc()">16</a></li>
  <li><a (click)="stroll()">18</a></li>
  <li><a (click)="magnussen()">20</a></li>
  <li><a (click)="tsunoda()">22</a></li>
  <li><a (click)="albon()">23</a></li>
  <li><a (click)="zhou()">24</a></li>
  <li><a (click)="hulkenberg()">27</a></li>
  <li><a (click)="ocon()">31</a></li>
  <li><a (click)="hamilton()">44</a></li>
  <li><a (click)="sainz()">55</a></li>
  <li><a (click)="russell()">63</a></li>
  <li><a (click)="bottas()">77</a></li>
  <li><a (click)="piastri()">81</a></li>
</ul>
