<ul>
    <li><img src="../../assets/verstappen.jpg" (click)="verstappen()"></li>
    <li><img src="./assets/sargeant.jpg" (click)="sargeant()"></li>
    <li><img src="../../assets/ricciardo.jpg" (click)="ricciardo()"></li>
    <li><img src="../../assets/norris.jpg" (click)="norris()"></li>
    <li><img src="../../assets/gasly.jpg" (click)="gasly()"></li>
    <li><img src="./assets/perez.jpg" (click)="perez()"></li>
    <li><img src="../../assets/alonso.jpg" (click)="alonso()"></li>
    <li><img src="../../assets/leclerc.jpg" (click)="leclerc()"></li>
    <li><img src="../../assets/stroll.jpg" (click)="stroll()"></li>
    <li><img src="../../assets/magnussen.jpg" (click)="magnussen()"></li>
    <li><img src="../../assets/tsunoda.jpg" (click)="tsunoda()"></li>
    <li><img src="../../assets/albon.jpg" (click)="albon()"></li>
    <li><img src="../../assets/zhou.jpg" (click)="zhou()"></li>
    <li><img src="../../assets/hulkenberg.jpg" (click)="hulkenberg()"></li>
    <li><img src="./assets/ocon.jpg" (click)="ocon()"></li>
    <li><img src="../../assets/hamilton.jpg" (click)="hamilton()"></li>
    <li><img src="../../assets/sainz.jpg" (click)="sainz()"></li>
    <li><img src="../../assets/russell.jpg" (click)="russell()"></li>
    <li><img src="../../assets/bottas.jpg" (click)="bottas()"></li>
    <li><img src="../../assets/piastri.jpg" (click)="piastri()"></li>
</ul>

