<div class="navbar">
  <a [innerHtml]=""">Menüpont 1</a>
  <a href="#menu2">Menüpont 2</a>
  <a href="#menu3">Menüpont 3</a>
  <a href="#menu4">Menüpont 4</a>
  <a href="#menu5">Menüpont 5</a>
  <a href="#menu6">Menüpont 6</a>
  <a href="#menu7">Menüpont 7</a>
  <a href="#menu8">Menüpont 8</a>
  <a href="#menu9">Menüpont 9</a>
  <a href="#menu10">Menüpont 10</a>
  <a href="#menu11">Menüpont 11</a>
  <a href="#menu12">Menüpont 12</a>
  <a href="#menu13">Menüpont 13</a>
  <a href="#menu14">Menüpont 14</a>
  <a href="#menu15">Menüpont 15</a>
  <a href="#menu16">Menüpont 16</a>
  <a href="#menu17">Menüpont 17</a>
  <a href="#menu18">Menüpont 18</a>
  <a href="#menu19">Menüpont 19</a>
  <a href="#menu20">Menüpont 20</a>
</div>
