<ul class="nav">
  <li class="homeicon" (click)="goToHome()">Kezdőlap</li>
  <li class="right" (click)="logout()">Kijelentkezés</li>
  <li class="right">
    <div class="container">
    <span>
        <p>Nézd meg mások blogbejegyzéseit felhasználónév alapján:</p>
    </span>
      <span>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label></mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [(ngModel)]="username">
            <mat-button matSuffix mat-button (click)="searchOthers(username)">  Keresés</mat-button>
        </mat-form-field>
    </span>
    </div>
  </li>
</ul>
