.profileinfo{
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  float: right;
  border-radius: 10px;
  background: rgba(75, 35, 35, 0.5);
}

#create{
  margin-left: 40%;
  margin-right: 40%;
}
