.profileinfo{
  padding: 10px 10px 10px 10px;
  margin: 100px 10px 10px 10px;
  float: right;
  border-radius: 10px;
  background: rgba(75, 35, 35, 0.5);
  position: fixed;
}

#create{
  margin-left: 30%;
  margin-right: 30%;
}

.posts{
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto 50px auto;
  width: 50%;
}

h1{
  text-align: center;
}

img{
  max-width: 80%;
  display: block;
  margin: auto;
}
span{
  padding-left: 10px;
}

p{
  float: right;
}

