ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c41818;
}

li {
  font-family: Arial;
  font-size: 2em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #6b2525;
}

li.right {
  float: right;
}

li.homeicon{
  float: left;
}
