<app-loggedinmenu></app-loggedinmenu>

<div class="main_component">
<form [formGroup]="editPost" (ngSubmit)="save()">
  <h1>Poszt szerkesztése</h1>
  <mat-form-field>
    <mat-label for="title">Cím:</mat-label>
    <input matInput type="text" formControlName="title" required/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Kép feltöltése</mat-label>
    <input type="file" formControlName="picture" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="text">Szöveg: </mat-label>
    <input matInput type="text" formControlName="text" required/>
  </mat-form-field>
  <br>
  <span class="buttons">
      <button mat-raised-button color="red" type="submit">Új poszt</button>
  </span>
</form>
</div>
