<app-loggedinmenu></app-loggedinmenu>

<div class="main">
  <form (ngSubmit)="save()" class="form">
    <h1>Poszt szerkesztése</h1>
    <mat-label for="title">Cím:</mat-label>
    <input matInput type="text" [(ngModel)]="blogPost.title" name="title" required/>
    <br>
    <mat-label>Kép feltöltése</mat-label>
    <input type="file" (change)="uploadFile($event)" name="picture" required>
    <br>
    <mat-label for="text">Szöveg: </mat-label>
    <textarea [(ngModel)]="blogPost.text" name="text" required></textarea>
    <br>
    <span class="buttons">
        <button mat-raised-button color="warn" type="submit">Mentés</button>
        <button mat-raised-button color="warn" (click)="goback()" type="submit">Vissza</button>
    </span>
  </form>
</div>
